                            <div class="subNavWrapper">
                                <ul class="subNav">
                                    <li>
                                        <a href="#pocket" class="inactive">
                                            <span>
                                              ${itemCount} Items in your Pocket
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
