<div class="itemAcquisition">
  <p class="dilemma">
    {{ dilemma }}
    <br />
      <a href="#" class="sayYes">Yes</a>
      <br /><br />
      <a href="#" class="sayNo">No</a>
  </p>

  <p class="yes">
    {{ yes }}
      <a href="#" class="acquired">Continue</a>
  </p>
  <p class="no">
    {{ no }}
      <a href="#" class="modalDone">Ok</a>
  </p>
  <div class="flavourText">
    <p>Wow! You found:: {{ name }}</p>
    {{ flavour_text }}

    <p>
      <a href="#" class="modalDone">Ok</a>
    </p>

  </div>
</div>
