{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title %}Lag{% endblock %}</title>
    <meta name="author" content="David Miller">
    {% block styles %}
    {% if flavour == "mobile" %}
    <link rel="stylesheet" href="{{MEDIA_URL}}css/mobile.css" type="text/css" media="screen" />
    {% else %}
    <link rel="stylesheet" href="{{STATIC_PREFIX}}css/screen.css" type="text/css" media="screen" />
    {% endif %}
    {% endblock %}
    {% block scripts %}
    <script type="text/javascript" src="{{STATIC_PREFIX}}js/lib/jquery.js"></script>
    <script type="text/javascript" src="{{STATIC_PREFIX}}js/lib/jquery.tmpl.js"></script>
    <script type="text/javascript" src="{{STATIC_PREFIX}}js/lib/gears_init.js"></script>
    <script type="text/javascript" src="{{STATIC_PREFIX}}js/lib/geo.js"></script>
    <script type="text/javascript" src="{{STATIC_PREFIX}}js/lag.js"></script>
    {% endblock %}
    {% block extrascripts %}{% endblock %}
    {% block rss %}{% endblock %}
    {% block extrahead %}{% endblock %}

    {% if flavour == "mobile" %}
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
    {% endif %}
    {% load tmpl %}
    {% block tmpl %}
    {% tmpl 'tmpl/message.html' 'message_tmpl' %}
    {% tmpl 'tmpl/place_detail.html' 'place_tmpl' %}
    {% tmpl 'tmpl/npc_interaction.html' 'npc_int_tmpl' %}
    {% tmpl 'tmpl/acquisition.html' 'acquisition_tmpl' %}
    {% endblock %}
  </head>
  <body>
    <div id="page">
      <div id="header">
        <a href="/">
          <h1>LAG.com</h1>
        </a>
        <ul class="tabs">
          {% block tabs %}
          {% if user.is_authenticated %}
          <li><a href="/home/">Home</a></li>
          {% endif %}
          {% endblock %}
        </ul>
        <div id="login">
        {% block login %}
        {% if user.is_authenticated %}
        Hi <a href="/home/">{{ user }}</a> |
        <a href="/accounts/logout/">Logout</a> |
        {% if request.user.is_superuser %}
        <a href="/admin/">Admin</a> |
        {% endif %}
        {% else %}
        <a href="/accounts/login/">Login</a> |
        <a href="/accounts/register/">Register</a>
        {% endif %}
        {% endblock %}
        </div><!--login-->
      </div>

      <div id="body" class="wrapper">
        {% block messages %}
        <div id="messages">

        </div><!--messages-->
        {% endblock %}
        <div id="main">
        {% block main %}{% endblock main %}
        </div>
        <div id="resources">
        {% block resources %}{% endblock %}
        </div>
      </div>

      <div id="footer">
        <ul class="tabs">
          <li><a href="/home/">Home</a></li>
        </ul>

        <p class="quiet">
          <small>
            Another <a href="http://www.deadpansincerity.com">Deadpan Sincerity</a> production
          </small>
        </p>
      </div>
    </div>

  </body>
</html>
