<h2>Location</h2>
<ul>
  <li>
    <a href="#" class="inactive">
      <span>
        You aren't in any location
      </span>
    </a>
  </li>
  <li>
    <a href="#">
      <span class="navDescriptor">
        Nearby locations: 3
      </span>
    </a>
  </li>
  <li>
    <a href="#">
      <span class="navDescriptor">
        Recently visited: 0
      </span>
    </a>
  </li>
  <li>
    <a href="#">
      <span class="navDescriptor">
        Your locations
      </span>
    </a>
  </li>
</ul>
<h2>Artifacts</h2>
<ul class="subNav">
  <li>
    <a href="#" class="inactive">
      <span>
        You have yet to discover any artifacts.
      </span>
    </a>
  </li>
</ul>
<h2>Gamers</h2>

<ul class="subNav">
  <li>
    <a href="#" class="expandable">
      <span>
        Your persona
      </span>
    </a>
  </li>
  <li>
    <a href="#" class="inactive">
      <span>
        Characters at Picnic: 1
      </span>
    </a>
  </li>
  <li>
    <a href="#" class="inactive">
      <span>
        Characters in your vicinity: 3
      </span>
    </a>
  </li>
  <li>
    <a href="#" class="inactive">
      <span>
        Characters you know:
      </span>
    </a>
  </li>
</ul>
<h2>LAG</h2>
<ul class="subNav">
  <li>
    <a href="#" class="expandable">
      <span>
        Introduction to LAG
      </span>
    </a>
  </li>
  <li>
    <a href="#" class="inactive">
      <span>
        FAQs
      </span>
    </a>
  </li>
  <li>
    <a href="#" class="inactive">
      <span>
        Report a bug
      </span>
    </a>
  </li>
  <li>
    <a href="#" class="inactive">
      <span>
        Contact LAG HQ
      </span>
    </a>
  </li>
</ul>
