{% extends 'base.html' %}

{% load tmpl %}
{% block tmpl %}

    <script id="locationMenuTmpl" type="text/x-jquery-tmpl">
      {% include 'tmpl/menu/locations.html' %}
    </script>

    <script id="artifactMenuTmpl" type="text/x-jquery-tmpl">
      {% include 'tmpl/menu/artifacts.html' %}
    </script>


    {% tmpl 'tmpl/modal.html'           'modalTmpl' %}
    {% tmpl 'tmpl/newsfeed.html'        'newsfeedTmpl' %}
    {% tmpl 'tmpl/newsitem.html'        'newsitemTmpl' %}
    {% tmpl 'tmpl/nearby.html'          'nearbyTmpl' %}
    {% tmpl 'tmpl/nearbyplace.html'     'nearbyPlaceTmpl' %}
    {% tmpl 'tmpl/place_detail.html'    'placeTmpl' %}
    <script id="addPlaceTmpl" type="text/x-jquery-tmpl">
      {% include 'tmpl/add_place.html' %}
    </script>
    {% tmpl 'tmpl/pocket.html'          'pocketTmpl' %}
    {% tmpl 'tmpl/pocket.html'          'pocketTmpl' %}
    {% tmpl 'tmpl/pocket_item.html'     'pocketItemTmpl' %}
    {% tmpl 'tmpl/visit_detail.html'    'visitTmpl' %}
    {% tmpl 'tmpl/npc_interaction.html' 'visitNPCTmpl' %}
    {% tmpl 'tmpl/acquisition.html'     'acquisitionTmpl' %}

{% endblock %}

{% block content %}
<!-- Fill me with JS innit -->
<div id="LAG">

</div><!--LAG-->
{% endblock %}
