{% extends 'base.html' %}

{% load tmpl %}
{% block tmpl %}{{ block.super }}
    {% tmpl 'tmpl/newsitem.html' 'newsitem_tmpl' %}
{% endblock %}

{% block content %}
<h2>News Feed</h2>
{% for message, icon in newsfeed %}
{% include 'tmpl/newsitem.html' %}
{% endfor %}
<a href="#" id="checkin">Checkin</a>
<div id="response">

</div><!--response-->
<p>
  You are at Lat: <span id="lat"></span> Lon: <span id="lon"></span>
</p>
<p>
  This was determined with an accuracy of: <span id="acc"></span>
</p>
<div>
  <p>We think that you are at <span id="guess"></span></p>
  <p><a href="#" id="confirm_guess">Confirm</a></p>
  <hr />
  <p>Alternatively this could be:</p>
  <div id="alternatives">

  </div><!--alternatives-->
  <p>
    Or we could have no idea - register a new place
  </p>
  <p>
    Name: <input type="text" name="new_place" value="" />
  </p>
  <p>
    Type:
    <select id="new_placetype">
      {% for type in placetypes %}
      <option value="{{type.id}}">{{ type }}</option>
      {% endfor %}
    </select>
  </p>
  <p>
    <a href="#" id="new">Register</a>
  </p>
</div>
<div id="visit_details">
  <p>You are currently visiting <span class="place"></span></p>
  <div id="visit_stats">

  </div><!--visit_stats-->
  <hr />
  <div id="visit_npcs">

  </div><!--visit_npcs-->
  <div id="visit_item">

  </div><!--visit_item-->
</div><!--visit_details-->
{% endblock %}
{% block resources %}
<ul>
  <li>
    <a href="/edit-profile/">Edit your profile</a>
  </li>
  <li>
    <a href="/lair/">
      {% if not player.has_lair %}Set y{% else %}Y{% endif %}our lair
    </a>
  </li>
  <li>
    <a href="/pocket/">Your Pocket </a>
  </li>
</ul>
{% endblock %}
